.experience-page{
	display: grid;
	justify-items: center;
}
.experience-page .cont{
	width: 70%;
}
.title{
	color: #fff;
	border-bottom: 3px solid #ccc;
	background-color: aquaß;
	margin: 0;
}
.item-title{
	color: #CCC;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 10px;
}
.technologies{
	display: flex;
	flex-wrap: wrap;
	color: #ccc;
}
.technologies h6{
	border-radius: 4px;
	border: 1px solid #CCC;
	padding: 8px;
	margin: 10px;
}
.technologies .btn{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	border: 1.4px solid #ccc;
}
.technologies .btn:hover{
	background-color: #ccc;
	border: none;
}

.technologies .btn a{
	text-decoration: none;
	color: #ccc;
	font-size: 13px;
}
.technologies .btn a:hover{
	color: #000;
}

.description{
	border-radius: 4px;
	border: 1px solid #CCC;
	padding: 15px;
	color: #CCC;
	margin: 10px;
}
@media (max-width: 600px) {
	.experience-page .cont{
		width: 90%;
	}
	.item-title h1{
		font-size: 12px;
	}
	.item-title h3{
		font-size: 12px;
	}
	.description p{
		font-size: 10px;
	}
	.btn a{
		font-size: 8px;
	}
}

