.certificates-page{
	display: grid;
	justify-items: center;
}
.certificates-page .cont{
	width: 70%;
}
.certificate-widget{
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
	color: #ccc;
}
.certificate-widget div{
	height: 100px;
	display: grid;
	align-items: center;
	justify-items: center;
}
.certificate-widget img{
	background-size: cover;
	height: 100px;
	width: 100px;
}
.certificate-widget Button svg{
	width: 70px;
	height: 70px;
	background-size: auto;
	border: 0;
	color: #ccc;
}
.elemt{
	padding: 10px;
	width: 70%;
}
.elemt li{
	list-style: none;
}
.elemt p{
	margin: 0;
}
.bor{
	border-bottom: 3px solid #ccc;
}
.border{
	border-radius: 4px;
	border: 1px solid #CCC;
}
.img-logo{
	width: 100%;
	height: 100%;
}
@media (max-width: 600px) {
	.certificates-page .cont{
		width: 90%;
	}
	.certificate-widget img{
		display: none;
	}
	.certificate-widget Button svg{
		width: 30px;
		height: 30px;
	}
	.elemt p{
		font-size: 10px;
	}
	.certificate-widget Button{
		padding: 0;
		margin: 0;
	}
}
