

body {
  margin: 0;
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Public Sans', sans-serif; */
  
  /* font-family: 'Vollkorn', serif;
   */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
}
h1, h2, h3, h4, h5, h6, p, ul, li{
  margin: 0;
  padding: 0;
}
button{
  border: 0px;
  text-transform: none,
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
